/* Custom CSS: */

h1, h2 {
    font-family: 'Poor Story', cursive;
}
.navbar-brand {
    float: left;
}
.navbar-menu {
    display: block;
    float: right;
    background: none;
    box-shadow: none;
}
.navbar.is-primary, .button.is-primary, .button.is-primary[disabled] {
    background-color: #CC2936;
}
.navbar.is-primary .navbar-brand>.navbar-item {
    color: #FFEA77;
}
.button.is-dark {
    background-color: #5158BB;
    display: block;
}
.has-text-primary {
    /* Curse you, Bulma, you forced me to do this :< */
    color: #CC2936!important;
}
.has-background-dark {
    background-color: #5158BB!important;
}
.tile.is-ancestor {
    flex-wrap: wrap;
}
.hidden {
    display: none;
}
.title.is-5.has-text-white {
    margin-top: .5rem;
}
.subtitle {
    color: #5158BB;
}
.footer, .tile.is-child {
    background-color: #FFEA77;
}
hr {
    background-color: #5158BB;
}